.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding: 20px;
  
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
  margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: 5px solid black;
  }


.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 80px;
}

.goomba {
  width: 100px;
  left: 140px;
  top: 550px;
  position: absolute;
  z-index: 2;
}

.baloon {
    position: absolute;
    z-index: 3;
    left: 320px;
    top: 430px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  left: 340px;
  top: 470px;
}

.bowser {
  width: 200px;
  top: 570px;
  left: 620px;
  position: absolute;
  z-index: 5;
}